*.bak
*.bak.*
*.ckpt
*.old
*.pyc
.DS_Store
.ipynb_checkpoints
checkpoint
logs/*
tf_logs/*
images/**/*.png
images/**/*.dot
my_*
person.proto
person.desc
person_pb2.py
datasets/flowers
datasets/lifesat/lifesat.csv
datasets/spam
datasets/titanic
datasets/words
datasets/jsb_chorales

datasets/housing/original_as_checked_out/housing.csv
datasets/housing/original_as_checked_out/housing.tgz
.vscode/settings.json
02_end_to_end_machine_learning_project.ipynb
01_the_machine_learning_landscape.ipynb
book_equations.ipynb
book_equations.ipynb
book_equations.ipynb
my_logs/*
tbemblogs/_README.md
tbemblogs/projector_config.pbtxt
tbemblogs/words_metadata.tsv
tbemblogs/train/events.out.tfevents.1581048038.poppy.30885.280606.v2
tbemblogs/train/events.out.tfevents.1581048044.poppy.profile-empty
tbemblogs/train/keras_embedding.ckpt-0.data-00000-of-00002
tbemblogs/train/keras_embedding.ckpt-0.data-00001-of-00002
tbemblogs/train/keras_embedding.ckpt-0.index
tbemblogs/train/keras_embedding.ckpt-1.data-00000-of-00002
tbemblogs/train/keras_embedding.ckpt-1.data-00001-of-00002
tbemblogs/train/keras_embedding.ckpt-1.index
tbemblogs/train/keras_embedding.ckpt-2.data-00000-of-00002
tbemblogs/train/keras_embedding.ckpt-2.data-00001-of-00002
tbemblogs/train/keras_embedding.ckpt-2.index
tbemblogs/train/keras_embedding.ckpt-3.data-00000-of-00002
tbemblogs/train/keras_embedding.ckpt-3.data-00001-of-00002
tbemblogs/train/keras_embedding.ckpt-3.index
tbemblogs/train/keras_embedding.ckpt-4.data-00000-of-00002
tbemblogs/train/keras_embedding.ckpt-4.data-00001-of-00002
tbemblogs/train/keras_embedding.ckpt-4.index
tbemblogs/train/plugins/profile/2020-02-06_20-00-44/local.trace
tbemblogs2/_README.md
tbemblogs2/projector_config.pbtxt
tbemblogs2/train/events.out.tfevents.1581038811.poppy.30885.169738.v2
tbemblogs2/train/events.out.tfevents.1581038812.poppy.profile-empty
tbemblogs2/train/events.out.tfevents.1581040713.poppy.30885.181940.v2
tbemblogs2/train/events.out.tfevents.1581041452.poppy.30885.198064.v2
tbemblogs2/train/events.out.tfevents.1581041741.poppy.30885.221242.v2
tbemblogs2/train/events.out.tfevents.1581041839.poppy.30885.233436.v2
tbemblogs2/train/keras_embedding.ckpt-0.data-00000-of-00002
tbemblogs2/train/keras_embedding.ckpt-0.data-00001-of-00002
tbemblogs2/train/keras_embedding.ckpt-0.index
tbemblogs2/train/keras_embedding.ckpt-1.data-00000-of-00002
tbemblogs2/train/keras_embedding.ckpt-1.data-00001-of-00002
tbemblogs2/train/keras_embedding.ckpt-1.index
tbemblogs2/train/keras_embedding.ckpt-2.data-00000-of-00002
tbemblogs2/train/keras_embedding.ckpt-2.data-00001-of-00002
tbemblogs2/train/keras_embedding.ckpt-2.index
tbemblogs2/train/keras_embedding.ckpt-3.data-00000-of-00002
tbemblogs2/train/keras_embedding.ckpt-3.data-00001-of-00002
tbemblogs2/train/keras_embedding.ckpt-3.index
tbemblogs2/train/keras_embedding.ckpt-4.data-00000-of-00002
tbemblogs2/train/keras_embedding.ckpt-4.data-00001-of-00002
tbemblogs2/train/keras_embedding.ckpt-4.index
tbemblogs2/train/plugins/profile/2020-02-06_17-26-52/local.trace
tbemblogs/_README.md
